body {
    padding:0;
    margin:0;
    overflow-x:hidden;
    
}

.header {
    background-color:#001e3c;
    height:80px;
    width:100%;
    top:0px;
    z-index: 1; 
}


.header h1 {
    text-align:center;
    position: relative;
    padding:0;
    margin:0px;
    top:17px;
    height:70px;
    font-family: 'Acme', sans-serif;
    color:rgb(192, 0, 0);
    
}

hr {
    padding:0;
    margin:0px;
}
.nav {
    margin-top:10px;
    height:30px;
    background-color:gren;
}

.nav p {
    padding:0;
    position:relative;
    bottom:50px;
    margin:0;
    margin-right:30px;
    float:right;
    font-family: 'Baloo Tamma 2', cursive;
}

.nav a {
    text-decoration:none;
    color:white;
}

.con a {
    color:red;
}

@media only screen and (max-width:780px) {
    .nav p{
    position: relative;
    bottom:20px;
    text-align: center;
    right:100px;
    margin:0;
    margin-right:30px;
    float:right;

    }
}

.bull_logo { 
    height:20px;
    width:20px;
    margin:auto;
}

.bull_logo img {
    position:relative;
    bottom:92px;
    right:110px;
}

.top {
    background-image:url("https://images.ctfassets.net/lcr8qbvxj7mh/ogjVrA3AtNSdKwAXmJFvI/b60ceec0d83dea9e30742ee87db99efe/contact--stage--default-teaser_2x.jpg?w=1016&q=90&fm=jpg");
    background-size:100% 100%;
    
}

.contact {
    margin-top:0;
    margin-left:40px;
    padding-top:60px;
    height:320px;
    color:white;
    text-shadow: -1px -2px 1px #000, 1px -2px 1px #000, -1px 2px 1px #000, 1px 2px 1px #000;
}

.title {
    font-size:50px;
    margin-left:40px;
    position:relative;
    bottom:280px;
    color:white;
    text-shadow: -1px -2px 1px #000, 1px -2px 1px #000, -1px 2px 1px #000, 1px 2px 1px #000;
}

.title h1 {
    margin:0;
    padding:0;
}

.paragraph {
    width:300px;
    position:relative;
    margin-left:40px;
    bottom:290px;
    color:white;
    text-shadow: -1px -2px 1px #000, 1px -2px 1px #000, -1px 2px 1px #000, 1px 2px 1px #000;
    font-size:20px;
}

.yo {
    position:relative;
    margin-left:40px;
    bottom:280px;
    
}

.top a {
    text-decoration:underline;
    color:white;
}

.checkbox {
    width:300px;
    background-color:green;
    margin:auto;
}

.checkbox select{
    width:300px;
    height:40px;
    font-size:15px;
}

.none {
    width:60px;
    height:20px;
    float:right;
    margin-right:50px;
}

.none img {
    visibility:hidden;
    margin:0;
    padding:0;
    width:100px;
    height:100px;
    
}

.none:hover > img{
    visibility:visible;
}

.torso {
    width:1200px;
    height:2550px;
    background-color:rd;
    margin:auto;
}

.container {
    border-style:solid;
}

.container1 {
    width:350px;
    height:600px;
    margin-left:50px;
    position:relative;
    top:50px;
}

.heading {
    text-align:center;
}

.heading h1 {
    margin:0;
    margin-top:10px;
    font-size:45px;
    padding:0;
    
}

.heading h3 {
    margin:0;
    font-size:25px;
    padding:0;
}

.heading p {
    margin-right:20px;
    margin-left:20px;
}

.navigating {
    margin:auto;
    width:190px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.navigating button {
    width:190px;
    height:40px;
    margin-top:30px;
    border-style:solid;
    border-radius:15px;
    background-color:red;
    color:white;
}

.navigating button:hover {
    cursor:pointer;
}

.navigating a{
    font-family: 'IBM Plex Sans', sans-serif;
}

.final {
    padding-top:20px;
    width:150px;
    margin:auto;
}

.final p {
    text-align:center;
}

.final button {
    width:150px;
}


.container2 {
    width:650px;
    height:260px;
    position:relative;
    left:490px;
    bottom:556px;
}

.icon {
    position:relative;
    top:20px;
    left:50px;
}

.motor {
    position:relative;
    left:330px;
    bottom:235px;
}

.container2 p {
    position:relative;
    bottom:230px;
    left:365px;
    font-size:25px;
    font-family: 'PT Sans Narrow', sans-serif;
}

.container3 {
    width:650px;
    height:250px;
    position:relative;
    left:490px;
    bottom:472px;
}

.tweet {
    position:relative;
    left:50px;
    top:20px;
    border-radius:20px;
}

.container3 p {
    position:relative;
    bottom:230px;
    left:365px;
    font-size:25px;
    font-family: 'PT Sans Narrow', sans-serif;
}

.bike {
    position:relative;
    left:330px;
    bottom:235px;
}

.container4 {
    width:1090px;
    height:300px;
    position:relative;
    left:50px;
    bottom:400px;
    background-size:100% 100%;
    background-image:url("../Images/vxcv.jpg");
    cursor:pointer;
}

.container4:hover {
    position:relative;
    height:1000px;
    background-image:url("../Images/zxcbcdb.png");
    
}

.container4:hover ~ .container8 {
    visibility:hidden;
}

.container4 h1 {
    position:relative;
    left:380px;
    top:40px;
    font-family: 'PT Sans Narrow', sans-serif;
}

.container4 img {
    position: relative;
    left:660px;
    bottom:60px;
    border-radius:40px;
} 

.container4 p {
    position:relative;
    left:435px;
    bottom:120px;
}

.container5 {
    width:490px;
    height:490px;
    position:relative;
    bottom:320px;
    left:50px;
    overflow:scroll;
}

.container6 {
    width:490px;
    height:490px;
    position:relative;
    left:650px;
    bottom:1664px;
    overflow:scroll;
}

.mp h1 {
    text-align:center;
    font-family: 'PT Sans Narrow', sans-serif;
}

.mp hr {
    margin-left:60px;
    margin-right:60px;
}

.mp h3 {
    margin:0;
    margin-top:20px;
    margin-left:30px;
    
}

.mp p {
    margin:0;
    margin-left:30px;
}

.container7 {
    width:490px;
    height:490px;
    position:relative;
    bottom:310px;
    left:350px;
    
}

.container7 h1{
    text-align:center;
    font-family: 'PT Sans Narrow', sans-serif;
}

.container7 input {
    width:490px;
    height:60px;
    font-size:30px;
}

.container7 button {
    margin-left:170px;
    margin-top:10px;
    width:160px;
    height:40px;
    background-color:red;
    color:white;
}

.container7 button:hover {
    cursor:pointer;
}

.container8 {
    width:337px;
    height:337px;
    position:relative;
    bottom:400px;
    left:430px;
    background-color:red;
}

.container8 img {
    width:337px;
    height:337px;

}

.footer {
    height:100px;
    background-color:#001e3c;
}

.place {
    width:1300px;
    height:20px;
    margin:auto;
    padding-top:40px;
}

.place p {
    float:left;
    margin-top:0;
    margin-right:40px;
    margin-left:40px;
    color:white;
}

.place a {
    text-decoration:none;
    color:white;
}