body {
    padding:0px;
    margin:0px;
    
};

.container {
    width:20px;
    background-color:red;
    
};

.Iamge_header {
    width:100px;
    background-color:red;
};

.login {

};

.Image {

};

.image_animation {

};

.left_side {

};

.right_side {

}; 

